* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
body {
    background-color: #a7c4c2;
}


/* Mode selection screen */
#mode-selection-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.invisible {
    opacity: 0;
    pointer-events: none;
}
#start-header {
    font-size: 1rem;
    color: #2e0219;
    font-weight: bold;
}


#mode-buttons {
    animation: modeButton 1s ease forwards;
    display: flex;
    justify-content: center;
    gap: 100%;
}
#mode-buttons button {
    background-color: #4a001f;
    border: 2px solid black;
    color: #97efe9;
    padding: 10px;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    margin: 1px;
    opacity: 0;
    animation: gameModeButtons 1.5s ease 0.5s forwards;
}
#mode-buttons button:hover {
    color: rgb(255, 6, 6);
}

#mode-selection-screen #start-header {
    animation: growThenRise 1.5s ease forwards;
}
@keyframes growThenRise {
    0% {transform: scale(0.1); opacity: 0;}
    40% {transform: scale(10); opacity: 1; }
    100% {transform: scale(10) translateY(-2vh) ;}
}

@keyframes gameModeButtons {
    0% {transform: scale(0); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
}


#game-field {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    display: grid;
    height: 50vw;
    width: 50vw;
    grid-template: 1fr 1fr 1fr /1fr 1fr 1fr;
    background-color: #2e0219;
    gap: 5px;
    box-shadow: 10px 10px rgb(15, 12, 15);
    z-index: 10;
}
#game-board .box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#game-board .box:hover {
    background-color: #4a001f;
    color: white;
    font-size: 700%;
}
#score-hud {
    width: 100vw;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70%;
}
#score-hud .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}